<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="mx-auto bg-gray-500/10">
  <!-- footer -->
  <footer class="bg-white text-center items-center h-[120px] z-0">
    <div class="border-t-2 pt-[30px] flex justify-center">
      <ul class="footer-ul">
        <li>이용약관</li>
        <li>개인정보취급방침</li>
        <li>청소년보호정책</li>
      </ul>
    </div>
    <p class="m-[10px]">Copyright © since 2023 ~ . All rights reserved.</p>
  </footer>
<script type="text/javascript" src="./js/dynamicText.js"></script>
</body>
</html>