<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="mx-auto bg-gray-500/10">
  <!-- find -->
  <div class="m-auto mt-[115px] my-[20px] w-[1584px] flex justify-center">
    <input class="input-find w-4/12 h-12 rounded-lg drop-shadow-md indent-11" type="text" placeholder="통합검색">
    <!-- <a href="https://www.flaticon.com/kr/free-icons/" title="찾기 아이콘">찾기 아이콘  제작자: alkhalifi design - Flaticon</a> -->
  </div>
<script type="text/javascript" src="./js/dynamicText.js"></script>
</body>
</html>