<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="mx-auto bg-gray-500/10">
  <!-- leftSide -->
  <aside class="w-[180px] fixed bg-white drop-shadow-md rounded-md z-50">
    <ul class="h-[40px] bg-black text-white text-base leading-9 rounded-t-md">
      <li>축구이야기</li>
    </ul>
    <ul class="text-base leading-9">
      <li>인기게시글</li>
      <li>자유게시판</li>
      <li>직관일지</li>
      <li>전술분석</li>
      <li>국내축구소식</li>
      <li>해외축구소식</li>
      <li>데이터센터</li>
      <li>유튜브</li>
    </ul>
  </aside>

  <!-- leftside fixed 사용시 공간확보 -->
  <div class=" w-[180px] self-start bg-transparent">
  </div>

</body>
</html>