<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihwan.soccer.login.model.dao.UserMapper">
        <resultMap id="userRoleResultMap" type="com.jihwan.soccer.login.model.dto.UserRoleDTO">
                <id property="user_id" column="USER_ID"/>
                <result property="roleName" column="AUTHORITY"/>
        </resultMap>

<!-- 스프링 시큐리티에서 userId를 비교하기 위한 select-->
        <select id="getUserInfo" resultType="com.jihwan.soccer.login.model.dto.UserDTO">
                SELECT
                       USER_ID,
                       USER_PWD
                  FROM USER_INFO
                 WHERE USER_ID = #{ userId }
        </select>
<!-- 스프링 시큐리에서 roleName(권한)을 가져오기 위한 select -->
        <select id="getUserRole" resultType="com.jihwan.soccer.login.model.dto.UserRoleDTO">
                SELECT
                       USER_ID,
                       AUTHORITY
                  FROM AUTHORITIES
                 WHERE USER_ID = #{ userId }
        </select>
</mapper>