<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/soccer/dist/output.css" rel="stylesheet">
  <link href="./dist/dynamicText.css" rel="stylesheet">
  <link href="./dist/common.css" rel="stylesheet">
</head>
<body class="mx-auto bg-gray-500/10">

<!-- header -->
<header class="bg-red-500 fixed w-[100%] top-0 z-50">
  <!-- header div -->
  <div class="w-[1586px] m-auto grid grid-cols-4 gap-4 rounded-md">
    <!-- logo -->
    <div class=""></div>
    <!-- header center -->
    <div class="col-span-2 m-auto">
      <!-- css:dynamicText.css / js:dynamicText.js  -->
      <div class="" id="dynamic"></div>
    </div>
    <!-- login & logout -->
    <div class="m-auto p-3 relative">
      <div class="grid grid-cols-6 gap-2 m-auto">
        <!-- input.css에 상세설정 -->
        <input class="input-login" type="text" placeholder="id">
        <input class="input-login" type="text" placeholder="pwd">
        <button class="button-login" type="button">login</button>
        <button class="button-login" type="button">sns</button>
      </div>
      <div class="grid grid-flow-col text-center float-right pt-4">
        <!-- input.css에 상세설정 -->
        <div class="mr-2 pr-2 text-white border-r-2 border-white-500 " type="button">회원가입</div>
        <div class="text-white" type="button">비밀번호찾기</div>
      </div>
    </div>
  </div>
</header>

<!-- find -->
<div class="m-auto mt-[115px] my-[20px] w-[1584px] flex justify-center">
  <input class="input-find w-4/12 h-12 rounded-lg drop-shadow-md indent-11" type="text" placeholder="통합검색">
  <!-- <a href="https://www.flaticon.com/kr/free-icons/" title="찾기 아이콘">찾기 아이콘  제작자: alkhalifi design - Flaticon</a> -->
</div>

<!-- container -->
<div class="mb-[15px] flex m-auto w-[1586px] bg-grey-200">

  <!-- leftSide -->
  <aside class="w-[180px] fixed bg-white drop-shadow-md rounded-md z-50">
    <ul class="h-[40px] bg-black text-white text-base leading-9 rounded-t-md">
      <li>MENU</li>
    </ul>
    <ul class="text-base leading-9">
      <li>인기게시글</li>
      <li>자유게시판</li>
      <li>직관일지</li>
      <li>전술분석</li>
      <li>국내축구소식</li>
      <li>해외축구소식</li>
      <li>데이터센터</li>
      <li>유튜브</li>
    </ul>
  </aside>

  <!-- leftside fixed 사용시 공간확보 -->
  <div class=" w-[180px] self-start bg-transparent">
  </div>

  <!-- main -->
  <section class=" px-[10px] flex-1 h-auto drop-shadow">
    <div class="w-[100%] h-[100%] text-base leading-8">
      <!-- section > div > div input.css에 일괄 css 설정 -->
      <div>
        <div class="main-recommend-header indent-11 border-b-2 border-gray-500/50">
          <p class="font-medium">회원가입</p>
        </div>
        <div class="mt-[15px] flex flex-col sign-up01">
          <div>
            <input type="text" placeholder="아이디">
            <button type="submit">중복확인</button>
            <span class="text-red-500">아이디 중복확인 해주세요.</span>
            <span class="text-green-500">확인완료.</span>
          </div>
          <p>4~13자 내의 영어 혹은 숫자로 구성된 아이디를 만들어주세요.</p>
          <div>
            <input type="text" placeholder="닉네임">
            <button type="submit">중복확인</button>
            <span class="text-red-500">닉네임 중복확인 해주세요.</span>
            <span class="text-green-500">확인완료.</span>
          </div>
          <p>특수문자를 포함시키지 않은 닉네임으로 만들어주세요.</p>
          <div>
            <input type="text" placeholder="패스워드">
            <br>
            <input type="text" placeholder="패스워드 중복확인">
            <span class="text-red-500">패스워드가 일치하지 않습니다.</span>
            <span class="text-green-500">확인완료.</span>
          </div>
          <p>8자 이상의 영어, 숫자, 특수문자로 구성된 비밀번호로 만들어주세요.</p>
          <div>
            <input type="text" placeholder="생년월일">
          </div>
          <p>ex) 20230407</p>
          <div>
            <input type="text" placeholder="이메일">
            <button type="submit">인증번호</button>
            <span class="text-red-500">이메일 주소를 다시 확인해주세요.</span>
            <span class="text-green-500">인증번호 전송 완료.</span>
          </div>
          <div>
            <input type="text" placeholder="이메일 인증번호">
            <button type="submit">확인</button>
            <span class="text-red-500">인증번호를 확인해 주세요.</span>
            <span class="text-green-500">인증번호 일치.</span>
          </div>
          <p>비밀번호를 찾을 때 사용하는 이메일 주소를 입력해주세요.</p>
        </div>
        <div class="w-[100%] mt-4 p-4 border-t-2 border-gray-500/50 text-center">
          <button class="border-2 border-gray-500/20 w-[120px]" type="submit">회원가입</button>
          <button class="border-2 border-gray-500/20 w-[120px]" type="submit">취소</button>
        </div>
      </div>
    </div>
  </section>

  <!-- rightSide -->
  <aside class="w-[230px] h-[500px] self-start bg-white drop-shadow rounded-md">
  </aside>
</div>

<!-- footer -->
<footer class="bg-white text-center items-center h-[120px] z-0">
  <div class="border-t-2 pt-[30px] flex justify-center">
    <ul class="footer-ul">
      <li>이용약관</li>
      <li>개인정보취급방침</li>
      <li>청소년보호정책</li>
    </ul>
  </div>
  <p class="m-[10px]">Copyright © since 2023 ~ . All rights reserved.</p>
</footer>
<script type="text/javascript" src="./js/dynamicText.js"></script>
</body>
</html>