<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/dist/output.css" rel="stylesheet">
    <link href="/css/dist/common.css" rel="stylesheet">

<body class="bg-gray-500/10">
<div class="flex w-[400px] h-[300px] m-auto bg-white justify-center items-center text-center">
    <form action="/login/userLogin" method="post">
        <input type="text" id="userId" name="userId" placeholder="아이디" class="m-[4px] rounded border-2"><br>
        <input type="password" id="userPwd" name="userPwd" placeholder="비밀번호" class="m-[4px] rounded border-2"><br>
        <button type="submit" class="mt-[4px] bg-gray-500/10 w-[100%] rounded">로그인</button>
    </form>
</div>
</body>
</html>
